body{
    margin:0px;
    padding:0px;
}

header{
    background-color:#339966;
}
.logo{
    display:inline-block;
    padding-left:20px;
}
.logo img{
    width:100px;
    height:100px;
}
.heading{
    display:inline-block;
    vertical-align:top;
    margin-left:30px;
    font-family: 'Gloria Hallelujah', cursive;
}

.add-contact-button{
    font-family: 'Gloria Hallelujah', cursive;
    float:right;
    margin-top:40px;
    margin-right:150px;
    cursor:pointer;
}


section{
    width:79%;
    display:inline-block;
    margin-top:20px;
    margin-left:1%;
}


/***** CONTACTS *****/
.contact-container{
    display:inline-block;
    vertical-align:top;
    background-color:#339966;
    width:250px;
    height:240px;
    border-radius:3%;
    margin:5px;
}
.contact-logo{
    display:inline-block;
    padding-left:10px;
    padding-top:10px;
}
.contact-logo img{
    width:30px;
    height:30px;
}
.edit-contact-button{
    height:20px;
    width:20px;
    vertical-align:top;
    float:right;
    cursor:pointer;
    background-image: url('./edit-logo.png');
    background-repeat: no-repeat;
   /* border:solid red 1px;*/
   margin:5px;
   margin-top:8px;
}
.remove-contact-button{
    height:20px;
    width:20px;
    vertical-align:top;
    float:right;
    cursor:pointer;
    background-image: url('./remove-icon.png');
    background-repeat: no-repeat;
   /* border:solid red 1px;*/
   margin:5px;
   margin-top:8px;
}
.contact-name{
    background-color:orange;
    vertical-align: top;
    padding:5px;
    padding-left:10px;
    margin-top:0px;
    font-family: 'Gloria Hallelujah', cursive;
}
.phonenumber-list{
   list-style:none;
}
.phonenumber-list li{
   background-image: url('./telephone-icon.png');
   background-repeat: no-repeat;
   padding-left: 30px;
   position:relative;
   right:30px;
}
.email-list{
    list-style:none;  
    position:relative;
    bottom:8px; 
}
.email-list li{
    background-image: url('./email-icon.png');
   background-repeat: no-repeat;
   padding-left: 30px;
   position:relative;
   right:30px;
}


/******** ASIDE ********/

#aside-container{
    background-color:#94c7ae;
    width:20%;
    min-height:600px;
    display:inline-block;
    vertical-align:top;
    display:none;
    text-align:center;
    padding-top:50px;
}

.toolbar-name{
    width:80%;

}
.toolbar-phone{
    width:80%; 
}
.toolbar-email{
    width:80%;  
}
.toolbar-save-button{
    display:block;
    margin:auto;
    margin-top:20px;
    cursor:pointer;
}



#toolbar-history-section{
    /*background-color:#339966;*/
    width:80%;
    margin:auto;
    margin-top:40px;
    border-radius:3%;
    /*border:solid red 3px;*/
    
}
#toolbar-history-section-inner{
    background-color:#339966;
    width:100%;
    margin:auto;
    margin-top:40px;
    border-radius:3%;
    /*border:solid blue 3px;*/
    
}
.upload-history-button{
    background-image: url('./upload-icon.png');
    width:50px;
    height:50px;
    /*border:solid orange 2px;*/
    display:block;
    margin:auto;
    margin-top:30px;
    cursor:pointer;
    position:relative;
    left:20px;
    bottom:5px;
}
.toolbar-history-back-button{
    width:20px;
    height:20px;
    background-image: url('./back-button.png');
    display:inline-block;
    cursor:pointer;
}
.toolbar-history-forward-button{
    width:20px;
    height:20px;
    background-image: url('./forward-button.png');
    display:inline-block;
    cursor:pointer;
}

