
header{
    background-color:#339966;
}
.logo{
    display:inline-block;
    padding-left:20px;
}
.logo img{
    width:100px;
    height:100px;
}
.heading{
    display:inline-block;
    vertical-align:top;
    margin-left:30px;
    font-family: 'Gloria Hallelujah', cursive;
}

section{
    width:80%;
    display:inline-block;
    margin-top:50px;
}


/***** CONTACTS *****/
.contact-container{
    display:inline-block;
    vertical-align:top;
    background-color:#339966;
    width:200px;
    border-radius:12%;
    margin:5px;
}
.contact-logo{
    display:inline-block;
    padding-left:10px;
    padding-top:10px;
}
.contact-logo img{
    width:30px;
    height:30px;
}
.edit-contact-button{
    vertical-align:top;
    float:right;
    cursor:pointer;
}
.remove-contact-button{
    vertical-align:top;
    float:right;
    cursor:pointer;
}
.contact-container .name{
    background-color:orange;
    vertical-align: top;
    padding:5px;
    margin-top:0px;
}
.phonenumber-list{
    list-style-image: url('./telephone-icon.png');
}
.phonenumber-list li{
    line-height:0.3;
}
.email-list{
    list-style-image: url('./email-icon.png');
}
.email-list li{
    line-height:0.1;
}


/******** ASIDE ********/

aside{
    background-color:#339966;
    width:20%;
    height:500px;
    display:inline-block;
    vertical-align:top;
    /*display:none;*/
}
.add-contact-container{
    /*border:solid black 2px;*/
}
.add-contact-input-name{
    width:50%;
    margin-left:25%;
    margin-top:50px;
}
.add-contact-input-phone{
    width:50%;
    margin-left:25%;   
}
.add-contact-input-email{
    width:50%;
    margin-left:25%;   
}
.add-contact-submit-button{
    display:block;
    margin:auto;
    margin-top:20px;
    cursor:pointer;
}


.edit-contact-container{
    background-color:#339966;
   /* border:solid red 2px;*/
    height:400px;
    padding-top:40px;
}
.edit-contact-container input{
    display:block;
    margin:auto;
}
.edit-contact-submit-button{
    margin-left:45%;
    margin-top:30px;
}


.edit-contact-history-container{
    border:solid 2px orange;
}