body{
    background-color:rgb(233, 220, 220);
}

.container{
    /*border:solid black 3px;*/
}

header{
    background-color:orange;
    text-align:center;
    font-family: Helvetica;
    font-size:30px;
    padding:3%;
}

section{
    background-color:green;
    width:60%;
    display:inline-block;
}

.contact-container{
    border:solid orange 2px;
    width:200px;
}
.contact-container .name{
    background-color:red;
}



aside{
    background-color:gray;
    width:40%;
    height:400px;
    display:inline-block;
    vertical-align:top;
}
.add-contact-container{
    border:solid black 2px;
}
.add-contact-input-name{
    width:50%;
    margin-left:25%;
    margin-top:50px;
}
.add-contact-input-phone{
    width:50%;
    margin-left:25%;   
}
.add-contact-input-contact{
    width:50%;
    margin-left:25%;   
}
.add-contact-submit-button{
    display:block;
    margin:auto;
    margin-top:20px;
    cursor:pointer;
}
